; 이 파일은 다양한 코드 편집기 및 IDE에서 코딩 스타일을 통일하기 위한 설정 파일입니다.
; 자세한 내용은 https://editorconfig.org에서 확인하세요.

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[*.yml]
indent_size = 2

[*.twig]
insert_final_newline = false

[*.neon]
indent_style = tab

[Makefile]
indent_style = tab
