# 다양한 파일 확장자의 줄 바꿈 방식 정의
# 사용자가 core.autocrlf 설정을 하지 않은 경우 기본 동작을 설정합니다.
* text text=auto eol=lf

# 체크아웃 시 항상 CRLF 줄 바꿈을 유지할 파일 선언
*.bat eol=crlf

# 체크아웃 시 항상 LF 줄 바꿈을 유지할 파일 선언
*.pem eol=lf

# 실제 바이너리 파일이며 수정되지 않아야 하는 파일 지정
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.avif binary
*.ico binary
*.mo binary
*.pdf binary
*.xls binary
*.xlsx binary
*.phar binary
*.woff binary
*.woff2 binary
*.ttc binary
*.ttf binary
*.otf binary
*.eot binary
*.gz binary
*.bz2 binary
*.7z binary
*.zip binary
*.webm binary
*.mp4 binary
*.ogv binary
