# CakePHP 관련 파일 #
##########################
/config/app_local.php
/config/.env
/logs/*
/tmp/*
/vendor/*

# 운영체제에서 생성하는 파일 #
######################
.DS_Store
.DS_Store?
._* 
.Spotlight-V100
.Trashes
# 아이콘 파일은 두 개의 \r로 끝나야 합니다.
Icon

ehthumbs.db
Thumbs.db
.directory

# 개발 도구별 파일 #
#######################
# PHPUnit
.phpunit.cache
tests.sqlite
# vim
*~
*.swp
*.swo
# sublime text & textmate
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
# Eclipse
.settings/*
# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*
# NetBeans
nbproject/*
# Visual Studio Code
.vscode
# nova
.nova
# Sass preprocessor
.sass-cache/
# node
/node_modules/*
# yarn
yarn-debug.log
yarn-error.log
