# httpoxy 취약점을 방지하려면 아래 항목을 주석 해제하세요.
# 자세한 내용: https://httpoxy.org/
# <IfModule mod_headers.c>
#    RequestHeader unset Proxy
# </IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
