<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd">
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- 실행할 추가 테스트 스위트를 여기에 추가하세요 -->
    <testsuites>
        <testsuite name="app">
            <directory>tests/TestCase/</directory>
        </testsuite>
        <!-- 여기에서 플러그인 테스트 스위트(plugin Test Suite)를 추가하세요. -->
    </testsuites>

    <!-- 픽스처(fixtures)를 위한 확장 로드 -->
    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>

    <!-- 코드 커버리지 보고서에서 vendor 테스트 제외 -->
    <source>
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">plugins/*/src/</directory>
        </include>
        <exclude>
            <file>src/Console/Installer.php</file>
        </exclude>
    </source>
</phpunit>
